@import "tailwindcss";

@theme {
  /* Add website theme colours */

  /* Idea/Suggestion - Theme switcher */
  /* Two themes - 1. A neon mode 
                  2. Theme with colours of IET - purple, white */
}